@import '../../scss/mixin.scss';
.search {
    width: 100%;
    margin: 30px;
    @include media-sm {
        margin: 0;
    }
    .searchContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .searchForm {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            .searchInput {
                margin-right: 30px;
                color: white;
                border-color: white;
                width: 300px;
                @include media-md {
                    width: 200px;
                }
                @include media-sm {
                    width: 120px;
                    margin-right: 10px;
                }

                &::before {
                    border-bottom: 1px solid white;
                }
                &::placeholder {
                    color: white;
                }
            }
            .searchButton {
                @include media-sm {
                    width: 50px;
                    font-size: 9px;
                }
                .iconSearch {
                    @include media-sm {
                        display: none;
                    }
                }
            }
        } 
        .completedArea {
            width: 100%;
            overflow:scroll;
            margin-top: 30px;
            .musics {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include media-sm {
                    height: auto;   
                }
                .track {
                    margin-top: 10px;
                    cursor: pointer;
                    background-color: #040E21;
                    padding: 10px;
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include media-sm {
                        flex-direction: column;
                    }
                    @include media-md {
                        flex-direction: column;
                        height: auto;
                    }
                    .names {
                        display: flex;
                        @include media-md {
                            font-size: 12px;
                        }
                        @include media-sm {
                            font-size: 10px;
                        }
                        .picture {
                            @include media-md {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            img {
                                width: 50px;
                                height: 50px;
                                border-radius: 5px;
                                @include media-md {
                                    width: 30px;
                                    height: 30px;
                                }
                                @include media-sm {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                        .names_track {
                            padding: 0;
                            display: flex;
                            color: white;
                            flex-direction: column;
                            margin: 0;
                            margin-left: 20px;
                            @include media-md {
                                font-size: 13px;
                            }
                            p {
                                margin: 0;
                                @include media-md {
                                    font-size: 13px;
                                }
                                @include media-sm {
                                    font-size: 13px;
                                }
                            }
                            .name_auth {
                                font-size: 15px;
                                @include media-md {
                                    font-size: 10px;
                                }
                                @include media-sm {
                                    font-size: 10px;
                                }
                                color: rgb(187, 185, 185);
                            }
                        }
                    }
                    .playButton {
                        @include media-sm {
                            width: 100px;
                            display: flex;
                            padding: 0;
                            margin: 0;
                            justify-content: center;
                        }
                        Button {
                            width: 40px;
                            margin-right: 10px;
                            @include media-md {
                                width: 10px;
                                margin: 0;
                                padding: 0;
                            }
                            @include media-sm {
                                width: 10px;
                            }
                            
                        }
                        Button {
                            @include media-sm {
                                width: 50px;
                                margin: 0;
                            }
                            .infoIcon {
                                @include media-sm {
                                    width: 15px;
                                    margin: 0;
                                }
                            }
                            .favIcon {
                                @include media-sm {
                                    width: 15px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.noSongs {
    color: white;
    @include media-sm {
        font-size: 8px;
        padding: 10px;
        text-align: center;
    }
}
.searchAlert {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: rgb(90, 90, 90);
    border: 2px solid #000;
    box-shadow: 24;
    padding: 30px;
    color: white;
    border-radius: 12px;
}

